<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <header>
        <nav>
            <a href="/"><i class="fas fa-home"></i> Home</a>
            <a href="/about"><i class="fas fa-user"></i> About</a>
            <!-- Add other links and icons as needed -->
        </nav>
    </header>
    <main class="container">
        {{ content }}
    </main>
    <footer>
        <div class="container">
          <div class="footer-links">
            <!-- Social Media and Professional Links -->
            <a href="https://github.com/attkap" target="_blank"><i class="fab fa-github"></i> GitHub</a>
            <a href="https://www.linkedin.com/in/attila-kaplan" target="_blank"><i class="fab fa-linkedin"></i> LinkedIn</a>
          </div>
          <!-- Contact Information -->
          <p>Email: <a href="mailto:attkap@gmail.com">attkap@gmail.com</a></p>
          <!-- Copyright Information -->
          <p>&copy; {{ site.time | date: '%Y' }} Attila Kaplan</p>
        </div>
    </footer>
</body>
</html>
